@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.login::before {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #72a834;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16%;
    z-index: 999;
    border-radius: 3px;
}

.login::after {
    content: "";
    display: block;
    width: 155px;
    height: 5px;
    background-color: #e5e9ed;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

.register::before {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #72a834;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    z-index: 999;
    border-radius: 3px;
}

.register::after {
    content: "";
    display: block;
    width: 125px;
    height: 5px;
    background-color: #e5e9ed;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

.checkbox::before {
    content: "";
    margin-right: 5px;
    font-size: 18px;
    border: solid 1px #ddd;
    position: absolute;
    top: 1.5px;
    left: -20px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.menu-more {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}