@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

.header {
    transition: 600ms all;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login::before {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #72a834;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16%;
    z-index: 999;
    border-radius: 3px;
}

.login::after {
    content: "";
    display: block;
    width: 155px;
    height: 5px;
    background-color: #e5e9ed;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

.register::before {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: #72a834;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    z-index: 999;
    border-radius: 3px;
}

.register::after {
    content: "";
    display: block;
    width: 125px;
    height: 5px;
    background-color: #e5e9ed;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

.checkbox::before {
    content: "";
    margin-right: 5px;
    font-size: 18px;
    border: solid 1px #ddd;
    position: absolute;
    top: 1.5px;
    left: -20px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.menu-more {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.search-order {
    box-shadow: 3px 3px 3px #ccc;
    border: thin solid rgba(228, 228, 228, 1);
}

.sale-code {
    background: linear-gradient(to right, #8cc7a8, #b2d18f);
}

.buy-now {
    background: linear-gradient(to right, #8cc7a8, #b2d18f);
}

.buy-now:hover {
    background: #4E7661;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-hover-show {
    -webkit-box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);
}

.input-checkout:focus {
    box-shadow: 0 0 0 1px #72a834;
}

.blog-image-first {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333 100%);
}

.card-see-quick {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out 0s;
}

.image-section2-home {
    transform: scale(1);
    transition: all 0.5s ease;
}

.image-section2-home:hover {
    transform: scale(1.1);
}

.image-blog-home {
    transition: .3s ease-in-out all;
}

.image-blog-home:hover {
    transform: scale(1.1);
}

.image-blog-page {
    transition: .3s ease-in-out all;
}

.image-blog-page:hover {
    transform: scale(1.2);
}


/* Body */
.body {
    display: flex;
}

.body .main {
    flex: 1;
    margin-left: 300px;
    background-color: #DCE7FF;
}

/* End Body */

/* Header */
.header {
    padding: 10px 40px 8px 40px;
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: white;
}

.header__wrap {
    display: flex;
    align-items: center;
    margin-left: -300px;
}

.header__title {
    flex: 1;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-left: 300px;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__profile {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.header__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End Header */

/* Sider */
.sider {
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: color;
    color: black;
}

.sider a {
    text-decoration: none;
}

.sider__logo {
    font-weight: 650;
    font-size: 26px;
    border-bottom: solid 0.5px #CCCCCC;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.sider__logo--black {
    color: black;
}

.sider__menu {
    margin-top: 15px;
}

.sider__logo--yellow {
    color: #F4B700;
}

.sider__menu ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 270px;
    padding: 10px 15px;
    font-size: 18px;
}

/* End Sider */

.block-main {
    padding: 0 20px;
}